In [25]:
# Agenda for this *.ipynb file:

In [24]:

# 1. create - db & collection
# 2. insert - one & many - documents into a collection -> insert_one() & insert_many()

In [1]:
import pymongo

In [2]:
client = pymongo.MongoClient("mongodb+srv://mongodb:mongodb@sreeman.jzldx.mongodb.net/myFirstDatabase?retryWrites=true&w=majority",tls=True,tlsAllowInvalidCertificates=True)
db = client.test
print(db)

Database(MongoClient(host=['sreeman-shard-00-02.jzldx.mongodb.net:27017', 'sreeman-shard-00-01.jzldx.mongodb.net:27017', 'sreeman-shard-00-00.jzldx.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-6iit9f-shard-0', tls=True, tlsallowinvalidcertificates=True, tlsdisableocspendpointcheck=True), 'test')

In [9]:
client.list_database_names()

['Employee', 'admin', 'local']

In [12]:
# create a database - "Employee"

In [3]:
mydb = client["Employee"]

In [13]:
# create a collection - "employee_information"

In [10]:
coll1 = mydb.employee_information

In [11]:
mydb.list_collection_names()

['employee_information']

In [14]:
# Insert a single collection

In [6]:
record = {
    "first_name" : "Krish",
    "last_name" : "Naik",
    "department" : "Analytics",
    "company" : "iNeuron"
}

In [23]:
# as we strore data as documents we can give extra info for any of them

In [8]:
coll1.insert_one(record)

In [21]:
record_an = {
    "first_name" : "Krish",
    "last_name" : "Naik",
    "department" : "Analytics",
    "company" : "iNeuron",
    "phone_number" : 54851545454
}

In [22]:
coll1.insert_one(record_an)

In [15]:
# insert multiple collections

In [19]:
records = [
    {
        "first_name" : "srinivaas",
        "last_name" : "m b",
        "department" : "artificial intelligence",
        "company" : "self employed"
    },
    {
        "first_name" : "rama",
        "last_name" : "balaji",
        "department" : "chemistry",
        "company" : "fiitjee"
    },
    {
        "first_name" : "balaji",
        "last_name" : "r",
        "department" : "mathematics",
        "company" : "self employed"
    },
    {
        "first_name" : "mythili",
        "last_name" : "p",
        "department" : "hindi",
        "company" : "retired"
    },
]

In [20]:
coll1.insert_many(records)