In [2]:
#lets suppose
l = [1,2,3,4,5,6,76,5,5,5,5,5,5,5,2,3,4,5,6,1,2,3]

In [4]:
# can you remove all duplicate elements in list l
set(l)

{1, 2, 3, 4, 5, 6, 76}

In [5]:
# Set - Build an unordered collection of unique elements.

In [6]:
s = {}

In [7]:
type(s)

dict

In [8]:
s1 = {2,3,4}

In [9]:
type(s1)

set

In [10]:
s2 = {1,1,1,1,1,1,2,3,4,54,5,4,4,4,3,3,2,54}

In [12]:
# set removes all duplicate elements
s2

{1, 2, 3, 4, 5, 54}

In [16]:
# set does not store elements in order
s2[0]

TypeError: 'set' object is not subscriptable

In [17]:
# we cannot access the elements in set directly

In [19]:
# to access elements in set this is the way
list(s2)[0]

1

In [ ]:
# add operation:

In [21]:
s2.add("sudh")

In [22]:
s2

{1, 2, 3, 4, 5, 54, 'sudh'}

In [24]:
# we cannot add a list inside a set
s2.add([3,4,5,6])

TypeError: unhashable type: 'list'

In [25]:
s2.add((3,4,5,6))

In [29]:
# set will remove duplicates of tuples

In [27]:
s2.add((3,4,5,6))

In [28]:
s2

{(3, 4, 5, 6), 1, 2, 3, 4, 5, 54, 'sudh'}

In [32]:
s3 = {(3,4,5,6), (3,4,5,6), 3,4,5,3,4,5}

In [33]:
s3

{(3, 4, 5, 6), 3, 4, 5}

In [ ]:
# remove operation:

In [35]:
s3.remove(4)

In [36]:
s3

{(3, 4, 5, 6), 3, 5}

In [37]:
# discard operation

In [39]:
s3.discard(5)

In [40]:
s3

{(3, 4, 5, 6), 3}

In [41]:
# discard does nothing if element is not inside set
# but remove will raise KeyError if element is not inside set